Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework_simplejwt==5.5.1
channels==4.3.2
daphne==4.2.1

numpy==1.26.4
scikit-learn==1.4.2
scipy==1.11.4
joblib==1.5.2
threadpoolctl==3.6.0
